<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProyectoWebAngel</display-name>
  
  <!-- INICIO -->
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Configuracion Tiempo de Sesion -->
  
  <session-config>
      <session-timeout>5</session-timeout>
  </session-config>
  
  <!-- Servlets -->
  
  <servlet>
      <servlet-name>Servlet1</servlet-name>
      <servlet-class>servlet.ServletLeerEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet1</servlet-name>
	  <url-pattern>/ServletLeerEmpleado</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet2</servlet-name>
      <servlet-class>servlet.ServletLeerEmpleadosPorDepartamento</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet2</servlet-name>
	  <url-pattern>/ServletLeerEmpleadosPorDepartamento</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>Servlet3</servlet-name>
      <servlet-class>servlet.ServletDepartment2</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Servlet3</servlet-name>
	  <url-pattern>/ServletDepartment2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletUpload</servlet-name>
    <servlet-class>servlet.UploadFileExample</servlet-class>
    <init-param>
        <param-name>RUTA_SUBIDA_FICHEROS</param-name>
        <param-value>C:\logs</param-value>
    </init-param>
    <multipart-config>
      <max-file-size>3145728</max-file-size>
      <max-request-size>5242880</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpload</servlet-name>
    <url-pattern>/ServletUpload</url-pattern>
  </servlet-mapping>
  
</web-app>